@import "tailwindcss";

body {
  width: 100%;
}

.manrope-title {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.manrope-description {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* General Button Styles */

.button {
  position: relative;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: white;
  border-color: #8FBC8F;
  border-width: 1px;
  border-radius: 1rem;
  color: #8FBC8F;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.button:active {
  background-color: #A5D6A7;
  border-color: #A5D6A7;
}


/* General Card Element Styles */


.card {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  gap: 1rem;
  text-align: start;
  border-width: 1px;
  border-color: #A5D6A7;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.25s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}


.fill:hover {
  color: white;
}

.fill:before {
  content: "";
  color: white;
  position: absolute;
  background: #A5D6A7;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.2s ease-in-out;
}

.fill:hover:before {
  right: 0;
  color: white;
}


/* NavLink Styles */

.rotate {
  transform: rotate(30deg);
}





